.styles{
    background-color: rgba(12, 12, 248, 0.817);
    width: 100px;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
    border-radius: 10px;
    margin: .5rem;
    font-weight: 100;
     
}