.AddTodo{
    display: flex;
}
.main-head{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}


.button{
    flex: 1;
    background-color: rgb(155, 25, 25);
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 1rem;
}

.input-box{
    border-radius: 0.5rem;
    width: 500px;
    height:2rem;
    align-items: center;
    font-size: 1.5rem;
    padding: 0.5rem;
    color: rgb(155, 25, 25);
}